*.pyc
*.pyo
*.o


/Makefile
/Makefile.pre
/Misc/python.pc
/Modules/Setup
/Modules/Setup.config
/Modules/Setup.local
/Modules/config.c
/Modules/ld_so_aix
/_build
/build
/config.log
/config.status
/libpython2.7.a
/pybuilddir.txt
/pyconfig.h
/python
/python-gdb.py
