*.o
**/__pycache__

/Makefile
/Makefile.pre
/Misc/python-config.sh
/Misc/python.pc
/Modules/Setup
/Modules/Setup.config
/Modules/Setup.local
/Modules/_testembed
/Modules/config.c
/Modules/ld_so_aix
/_build/
/build/
/config.log
/config.status
/libpython3.4m.a
/pybuilddir.txt
/pyconfig.h
/python
/python-config
/python-config.py
/python-gdb.py
